<h3>ALL USERS: </h3>
<ol><% @users.each do |user| %>
  <li><a href="/users/<%= user.slug%>"><%=user.username%></a></li>
  <% end %>
</ol>


<ul>
<% @users.each do |user| %>
  <li><a href="/users/<%= user.slug%>"><%= user.username %></a></li>
<% end%>
</ul>
