<h2>Login to Wine Tracker:</h2>
<form action="/login" method="POST">
  Username: <input type="text" name="username" placeholder="username">
  Password: <input type="password" name="password" placeholder="password">
  <input type="submit" value="Log In">
</form>

<br></br>

<h3>Don't have an account yet? No problem! Click the link below to create a new account: </h3>
<p><small><a href="/">Create Account </a></small></p>

<br></br>

<p><small><a href="/">Homepage</a></small></p>
