<h2>Login to Wine Tracker:</h2>
<form action="/login" method="POST">
  Email: <input type="text" name="email" placeholder="your email">
  Password: <input type="password" name="password" placeholder="your password">
  <input type="submit" value="Log In">
</form>

<br></br>

<h3>Don't have an account yet? No problem! Click the link below to create a new account: </h3>
<p><small><a href="/">Create Account </a></small></p>

<br></br>

<p><small><a href="/">Homepage</a></small></p>
