<h1>Welcome!</h1>

<p>Please click <a href="/login">here </a>to sign in and view your wine index</p>
 
<p>New here? Please click <a href="signup">here </a> to sign up and start tracking your wine ratings!</p>