<h1>Welcome, to the Wine Tracker!</h1>
<p>If you are like me, and you can never remember if you liked a wine or not (or if you tried it at all), then this is the app is for you!
It will help you track all of the different wines you try (and take notes) so that you can remember what you like and dislike and you can
start to see trends on styles and regions of wine you might prefer! Enjoy! </p>

<h4>First Time Visitors:</h4>
<p>Please click <strong><a href="/signup">here </a></strong>to sign-up and start tracking your wine ratings!</p>

<h4>Been here before?:</h4>
<p>Please click <strong><a href="/login">here </a></strong>to login and view your wine index</p>

<br></br>
