<h1>Welcome, to the Wine Tracker!</h1>
<p>This application will allow you to track all of the wines you have tried so that you can remember specific bottles, types, and vineyard
you might prefer. The appl allows you to assign a rating and also save your tasting notes for further details. </p> <br></br>

<h4>First Time Visitors:</h4>
<p>Please click <strong><a href="/signup">here </a></strong>to sign-up and start tracking your wine ratings!</p>

<h4>Been here before?:</h4>
<p>Please click <strong><a href="/login">here </a></strong>to login and view your wine index</p>

<br></br>
