<h1>WINE INDEX</h1>

  <ul style="list-style-type:square">
    <% @wines.each do |wine| %>
      <li>
        Wine Name/Grape: <a href="/wines/<%= wine.id %>"> <%= wine.name %></a>

        Vineyard/Producer: <a href="/wines/<%= wine.id %>"> <%= wine.vineyard %></a>
          <br></br>
      </li>
    <% end %>
  </ul>


<p><a href="/">Click here to go to the homepage</a></p>
