<h2>Welcome to the Wine Track App!</h2>

<h3>What would you like to do?</h3>
  <ol>
    <li>To view a list of all <strong><a href="/users">active users</a></strong></li>
    <li>To <strong><a href="/wines/new">add a new wine?</a></strong> </li>
    <li>To return to the <strong><a href="/">homepage?</a></strong></li>
  </ol>
<br></br>


<h3>Complete Wine Index for all users:</h3>
<ol type="1">
    <% @wines.each do |wine| %>
      <li>
        <strong>Wine Name or Grape:   <a href="/wines/<%= wine.id %>"> <%= wine.name %></a></strong>
        <ul list-style="list-style-type:square">
          <li> Vineyard(Producer):   <%= wine.vineyard %></a></li>
          <li> Rating(1-10):   <%= wine.rating %></a> </li>
        </ul>
      </li>
      <br></br>
    <% end %>
  </ol>
