<h1>Add a New Wine:</h1>

<form action="/wines" method="POST">
  
  <label> Wine Name </label>
  <input type="text" name="name" id="name"> </br>

  <label> Year </label>
  <input type="number" name="year" id="year"> </br>
  
    <label> Rating </label>
  <input type="number" name="rating" id="rating"> </br>
  
    <label> Tasting Notes </label>
  <input type="text" name="tasting_notes" id="tasting_notes"> </br>

  <input type="submit" value="Create New Wine Rating">
</form>


<p><a href="/">Homepage</a></p>