<h1>Add a New Wine:</h1>

<form action="/bags" method="POST">
  
  <label> Wine Name </label>
  <input type="text" name="name"> </br>

  <label> Year </label>
  <input type="number" name="capacity"> </br>
  
    <label> Rating </label>
  <input type="number" name="capacity"> </br>
  
    <label> Tasting Notes </label>
  <input type="text" name="name"> </br>

  <input type="submit" value="Create">
</form>