<h1>Add a New Wine:</h1>

<form action="/wines/new" method="POST">
  
  <label> Wine Name </label>
  <input type="text" name="name"> </br>

  <label> Year </label>
  <input type="number" name="year"> </br>
  
    <label> Rating </label>
  <input type="number" name="rating"> </br>
  
    <label> Tasting Notes </label>
  <input type="text" name="tasting_notes"> </br>

  <input type="submit" value="Create">
</form>


<p><a href="/">Homepage</a></p>