<h1>Here are all of the details on your wine rating:</h1>

<p>Name: <%= @wine.name%></p>
<p>Year: <%= @wine.year%></p>
<p>Rating: <%= @wine.rating%></p>
<p>Tasting Notes: <%= @wine.tasting_notes%></p>